@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&family=Space+Mono&display=swap');

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.959);
  font-size: 20px;
  margin: 0;
  background-image: url("images/bush.png");
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.959);
  font-size: 40px;
}

h2 {
  font-size: 18px;
}
h3 {
  font-size: 22px;
}

a {
  color: rgba(31, 30, 30, 0.932);
  font-size: 34px;
}
a:hover{
  color: rgb(0, 0, 0);
}
.card {
  background: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  border-color: rgba(143, 143, 143, 0.61);
  border-width: 1px;
}
li {
  display: inline;
  list-style: none;
  letter-spacing: 10px;
  font-size: 22;
}
ul {
  padding: 0;
}
.container {
  text-align: center;
  margin: auto;
  width: 60vw;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
